body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
}

#sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#content {
    width: 100%;
    padding: 15px;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
}

.list-unstyled {
    padding: 20px;
    list-style: none;
}

.list-unstyled a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
}

.list-unstyled a:hover {
    background-color: #555;
}
